PM4_BASE_URL=https://mxzurich.dev.cloud.processmaker.net
PM4_TOKEN=eyJ...
PORT=3001
VITE_TASK_ID=123
VITE_PM4_TOKEN=eyJ...
WEB_ENTRY_PROCESS_ID=31
WEB_ENTRY_EVENT_ID=node_661

# Configuración de país (Feature Flags / Valores por defecto)
VITE_DEFAULT_COUNTRY_CODE=170
VITE_LOCK_COUNTRY=true


